@import url('https://fonts.googleapis.com/css2?family=Maitree:wght@200;300;400;500;600;700&family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.sp__about {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    max-width: 100%;
}

.sp__about-left + .sp__about-right {
    border-left: solid 1px black;
}

.sp__about-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 25px;
    max-width: 100%;
}

.sp__about-left__line {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.sp__about-left__line div {
    flex: 1;
    width: 100%;
    height: 100%;
    min-width: 100px;
    min-height: 100px;
    padding: 0 30px;
}

.sp__about-left__element {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    background: #FFFFFF;
    box-shadow: -7px 33px 23px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    margin: 10px;

}

.sp__about-left__element img {
    padding: 5px;
    background: #FEC400;
    border-radius: 50%;
    margin-top: 20px;
}

.sp__about-left__element h3{
    font-size: 20px;
    margin-top: 10px;
    font-family: var(--font-family);
}

.sp__about-left__element p{
    font-size: 14px;
    margin-top: 15px;
    font-family: 'Maitree', sans-serif;
    margin-bottom: 20px;
}


.sp__about-right {
    padding: 25px 25px;
    flex: 1;
    max-width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.sp__about-right h2 {
    flex:1;
    margin: 10px;
    padding: 10px;
    font-size: 36px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    border-bottom: 2px dotted #FEC400;
}

.sp__about-right p {
    flex:1;
    padding: 25px;
    text-align: left;
    font-family: 'Maitree', sans-serif;
    font-weight: 500;
    color: #008080;
    box-shadow: -7px 33px 23px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

.slide-fwd-center {
	-webkit-animation: slide-fwd-center 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-fwd-center 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-fwd-center {
    0% {
        -webkit-transform: translateZ(0);
           transform: translateZ(0);
    }
    100% {
        -webkit-transform: translateZ(160px);
            transform: translateZ(160px);
    }
}

@keyframes slide-fwd-center {
    0% {
        -webkit-transform: translateZ(0);
            transform: translateZ(0);
    }
    100% {
       -webkit-transform: translateZ(160px);
            transform: translateZ(160px);
    }
}

@media screen and (max-width: 1050px) and (min-width: 750px){
    .sp__about-left__element h3{
        font-size: 16px;
    }
    
    .sp__about-left__element p{
        font-size: 10px;
    }
}

@media screen and (max-width: 750px){
    .sp__about {
        flex-direction: column;
    }

    .sp__about-left {
        min-width: 100%;
    }

    .sp__about-right {
        min-width: 100%;
    }

    .sp__about-left__element h3{
        font-size: 16px;
    }
    
    .sp__about-left__element p{
        font-size: 10px;
    }
}